.DS_Store
node_modules/
dist/
*.log
.vscode/
.idea/
server/.venv/
server/__pycache__/
server/*.pyc
server/.env
venv
__pycache__/
tests/__pycache__/
server/api/queries/__pycache__/
server/domain/__pycache__/